.teaser--graphical {
    position: relative;
    
    @include bp(mobile) {
        margin-bottom: calc-rem(96px);
    }
    &:hover {
        .teaser--graphical__heading {
            opacity: 0.3;
        }
        .teaser--graphical__fist {
            opacity: 1;
        }
    }
    
    .teaser--graphical__top {
        position: relative;
        @include btnGradient;
        @include dtmPadding (2% 2% 16%, 2% 2% 7.6%, 2% 2% 8.2%) // ----- dtmPadding - Defined in mixins for Desktop, Tablet and Mobile.
            
        @include bp(toDesktop) {
            width: 100%;
        }
        @media (min-width: 751px) and (max-width: 910px) {
            max-height: 190px;
        }
        h2 {
            text-align: center;
        }
    }
    .teaser--graphical__topElements {
        @include bp(toDesktop) {
            width: 51%;
        }
        @include bp(tablet) {
            padding-top: 2.5%;
        }
        @include bp(mobile) {
            padding-top: 4%;
        }
        @media (min-width: 751px) and (max-width: 910px) {
            width: 60%;
        }
        @media (min-width: 481px) and (max-width: 749px) {
            width: 62%;
        }
    }
    .teaser--graphical__tag {
        color: $white-color;
        padding-bottom: 0;
        
        @include bp(desktop) {
            margin-left: 16px;
        }
    }
    .teaser--graphical__heading {
        color: $white-color;
        font-family: $fontDemiCond;
        text-align: center;
        @include dtmPadding (4% 5%, 5% 0%, 7% 0%) // ----- dtmPadding - Defined in mixins for Desktop, Tablet and Mobile.
        
        @include bp(desktop) {
            @include fontSizeLineHeight (calc-rem(49px), calc-rem(48px));
        }
        @include bp(tablet) {
            font-size: calc-rem(32.5px);
        }
        @include bp(mobile) {
            @include fontSizeLineHeight (calc-rem(50px), calc-rem(51px));
        }
    }
    .teaser--graphical__fist {
        opacity: 0.3;
        position: absolute;
        
        @include bp(desktop) {
            max-width: 52%;
            bottom: -4%;
            left: 4%;
        }
        @include bp(tablet) {
            max-width: 38%;
            bottom: -7%;
            left: 3.5%;
        }
        @include bp(mobile) {
            max-width: 40%;
            bottom: -3%;
        }
        @include bp(toDesktop) {
            left: 3.5%;
        }
    }
    .teaser--graphical__bottom {
        position: relative;
        
        @include bp(desktop) {
            margin-top: -32%;
        }
        
        @include bp(toDesktop) {
            text-align: right;
        }
        @include bp(tablet) {
            width: 100%;
            position: absolute;
            bottom: -58%;
        }
        @include bp(mobile) {
            margin-top: -50.5%;
        }
        
        .btn {
            position: absolute;
            
            @include bp(desktop) {
                left: 31%;
                bottom: -14px;
            }
            @include bp(tablet) {
                right: 16%;
                bottom: 9%;
            }
            @include bp(mobile) {
                left: 13.5%;
                bottom: 10%;
            }
            @media (min-width: 481px) and (max-width: 660px) {
                left: 9%;
                bottom: 6%;
            }
        }
    }
    .teaser--graphical__textShare {
        position: absolute;
        text-align: center;
        
        @include bp(desktop) {
            width: 36%;
            top: 28%;
        }
        @include bp(tablet) {
            bottom: 2.5%;
            left: 4%;
        }
        @include bp(mobile) {
            bottom: 27%;
            left: 9%;
        }
        @include bp(toDesktop) {
            width: 35%;
        }
        @media (min-width: 751px) and (max-width: 910px) {
            width: 43%;
        }
    }
    .teaser--graphical__text {
        font-family: $fontMedium;
        text-transform: none;
        
        @include bp(desktop) {
            @include fontSizeLineHeight (calc-rem(20px), calc-rem(24px));
        }
        @include bp(tablet) {
            @include fontSizeLineHeight (calc-rem(17.5px), calc-rem(18px));
            margin-bottom: 11px;
        }
        @include bp(mobile) {
            display: none;
        }
    }
    .teaser--graphical__image {
        @include bp(tablet) {
            max-width: 58%;
        }
        @include bp(mobile) {
            width: 63%;
        }
    }
}