.teaser--white {
    position: relative;
    overflow: hidden;
    
    @include bp(desktop) {
        min-height: calc-rem(530px);        
    }
    @include bp(tablet) {
        min-height: calc-rem(430px);        
    }
    @include bp(mobile) {
        min-height: calc-rem(581px);
    }
    
    .teaser--white__image {
        margin-right: 1px;
        display: block;
        overflow: hidden;
        
        @include bp(tablet) {
            max-height: 312.5px;
        }
        @include bp(mobile) {
            max-height: 366px;
        }
        @include bp(mobileSmall) {
            max-height: 183px;
        }
    }
    .teaser--white__image img {
//        -moz-transition: all 0.3s;
//        -webkit-transition: all 0.3s;
//        transition: all 0.3s;
        display: block;
        max-width: 100%
    }
    .teaser--white__body {
        position: absolute;
        right: 0;
        background: $white-color;
    
        @include bp(desktop) {
            width: 57.5%;
            padding: 19px 0.1% 37px 7.5%;
            bottom: 6px;
        }
        @include bp(tablet) {
            width: 52%;
            bottom: 3px;
        }
        @include bp(mobile) {
            width: 53%;
            bottom: 104px;
        }
        @include bp(mobileSmall) {
            bottom: 34px;
        }
    }
    .teaser--white__videoLittle {
        @extend .videoLittle;
        @include bp(mobile) {
            top: calc-rem(-38px);
            font-size: calc-rem(20px);
            width: 66%;
            padding: calc-rem(11px) 0 calc-rem(7px);
        }
    }
    .teaser--white__elements {
        @include dtmPadding (0 4px, 20px 6% 0 8%, 33px 0 0 37px) // ----- dtmPadding - Defined in mixins for Desktop, Tablet and Mobile.
    
        @include bp(mobileSmall) {
            padding: 11% 0 11% 13%;
        }
    }
    .teaser--white__tag {
        color: $primary-color;
        margin-top: 5px;
    }
    .teaser--white__date {
        @extend .date;
        
        @include bp(ofMobile) {
            margin: 10px 0 11px;
        }
        @include bp(mobile) {
            margin: 17px 0;
        }
        @include bp(mobileSmall) {
            margin: 8px 0;
        }
    }
    .teaser--white__heading {
        font-family: $fontDemiCond;
        @include fontSize(29px, 26.5px, 36px); // ----- fontSize - Defined in mixins for Desktop, Tablet and Mobile with calculate rem.
    }
    .teaser--white__text {
        text-transform: none;
        font-family: $fontMedium;
    
        @include bp(desktop) {
            font-size: calc-rem(20px);
            margin: 2px 0 47px;
        }
        @include bp(tablet) {
            @include fontSizeLineHeight (calc-rem(17.5px), calc-rem(19px));
            margin: 20px 0 0;
        }
        @include bp(mobile) {
            display: none;
        }
    }
    .teaser--white__share {
        @include bp(tablet) {
            margin: 17px 0;
        }
        @include bp(mobile) {
            margin: 18px 0 27px;
        }
        @include bp(mobileSmall) {
            margin: 9px 0 13px;
        }
    }
    //.teaser--white:hover .teaser--white__image img {
    //    transform: scale(1.1);
    //}
}