.sub__first:hover > .header__sub-first {
    @include bp(desktop) {
        display: block;        
    }
}
.header__sub {
    display: none;
    z-index: 1;
    width: 100%;
    top: 28px;
    left: 0;
    right: 0;
    
    @include bp(tablet) {
        top: 27px;
    }
    @include bp(ofMobile) {
        position:absolute;  
    }
    
    .header__sub-block {
        float: left;
        position: relative;
        overflow: hidden;
        width: 34.5%;
        max-width: 429px;
    }
    .header__sub-fist {
        background: #fff url("../../assets/images/submenu_fist_gray.png") center center no-repeat;
        padding: 50px 0;
        padding-bottom: -moz-calc(49px);
        width: 31%;
        
        @include bp(tablet) {
            padding: 27px 0;
        }
        @include bp(mobile) {
            background-size: 100%;
        }
        @include bp(ofMobile) {
            background-size: 80%;
        }
        @media (min-width: 1261px) {
            width: 31.14%;       
        }
    }
    .header__sub-list {
        &:not(:last-child) {
            margin-bottom: 10px;
            margin-bottom: -moz-calc(9px);
        }
        &:before, &:after {
            content: '';
            display: inline-block;
            width: 3px;
            background: $primary-color;
            height: 3px;
            vertical-align: 4px;
            margin: 0 2px;
        }
        
        @include bp(tablet) {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &:before, &:after {
                height: 2px;
                vertical-align: 3px;
                margin: 0;
            }
        }
    }
    .header__sub-link {
        font-family: $fontDemiCond;
        font-size: calc-rem(20px);
        color: $primary-color;
        letter-spacing: 4px;
            
        @include bp(tablet) {
            font-size: calc-rem(16px);
            letter-spacing: 3px;
        }
    }
    .header__sub-middle {
        .header__sub-image {
            @include bp(desktop) {
                background: url("../../assets/images/submenu_image1.png") left center no-repeat;
            }
            @include bp(tablet) {
                background: url("../../assets/images/submenu_image1-tablet.png") left center no-repeat;
            }
            @include bp(mobile) {
                background: url("../../assets/images/submenu_image1-mobile.png") left center no-repeat;
            }
        }
    }
    .header__sub-last {
        .header__sub-image {
            @include bp(desktop) {
                background: url("../../assets/images/submenu_image2.png") left center no-repeat;
            }
            @include bp(tablet) {
                background: url("../../assets/images/submenu_image2-tablet.png") left center no-repeat;
            }
            @include bp(mobile) {
                background: url("../../assets/images/submenu_image2-mobile.png") left center no-repeat;
            }
        }
    }
    .header__sub-image {        
        @include bp(desktop) {
            height: 240px;
        }        
        @include bp(tablet) {
            height: 198px;
        }        
        @include bp(mobile) {
            height: 266px;
        }
    }
    .header__sub-description {
        text-align: left;
        padding: 15px 0px;
        
        @include bp(ofMobile) {
            position: absolute;
            background: $white-color;
            padding: 25px 18px;
            right: 0;
            bottom: 0;
            min-height: 30%;
            max-width: 55%;
        }
        @include bp(tablet) {
            padding: 19px 14px;
        }
    }
    .heading__sub-video {
        color: $white-color;
        @include btnGradient;
        font-family: $fontHeavy;
        position: absolute;
        left: 0;
        width: 113px;
        font-size: calc-rem(12px);
        padding: 4px 0;
        text-align: center;
              
        @include bp(tablet) {
            font-size: calc-rem(10px);
            padding: 5px 0;
        }        
        @include bp(mobile) {
            font-size: calc-rem(16px);
            padding: 5px 0;
            bottom: 54%;
            width: 61%;
            
            .play {
                vertical-align: 2px; 
            }
        }
        @include bp(ofMobile) {
            top: -20px;
        }  
        
        .play {
            background: url(../../assets/images/play_small.png) center center no-repeat;
            width: 5px;
            height: 7px;
            background-size: 7px;
            display: inline-block;
            margin-right: 5px;
        }
    }
    .header__sub-tag {
        font-family: $fontMediumCond;
        font-size: calc-rem(14px);
        border-bottom: 1px solid;
        color: $primary-color;
        padding-bottom: 2px;
        letter-spacing: 1px;
        
        @include bp(tablet) {
            font-size: calc-rem(11.5px);
        }
    }
    .header__sub-heading {
        font-family: $fontDemiCond;
        font-size: calc-rem(24px);
        color: $black-color;
        display: block;
        margin-top: 7px;
        
        @include bp(tablet) {
            font-size: calc-rem(19.5px);
            margin-top: 5px;
        }
    }
    .btn {
        @include bp(ofMobile) {
            display: none;
        }        
    }
}