.header__sticky {
    @include bp(ofMobile) {
        font-size: 24px;
        background: #efc47D;
        text-align: left;
        z-index: 99999;
        position: fixed;
        width: 100%;
    }
    .header__logo {
        float: left;
    }
    .header__menu {
        float: left;
    }
    .header__social {
        float: left;
    position: inherit;
    }
    .header__brand {
        display: none;
    }
}