.vb {
  position: relative;
  background: #376fa7;
  text-align: center;
  padding: 5% 0% 0%;
  max-width: 962px;
  margin: 0 auto; }
  .vb:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    width: 38%;
    height: 44%; }
  .vb img {
    position: relative;
    max-width: 100%;
    z-index: 5; }
  .vb h1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    font-size: 76px;
    color: rebeccapurple;
    width: 30%; }
