@mixin bp($breakpoint) {

    $bp--mobile    : "(max-width: 750px)";
    $bp--tablet    : "(min-width: 751px) and (max-width: 1024px)";
    $bp--desktop   : "(min-width: 1025px)";
    
    $bp--toDesktop   : "(max-width: 1024px)";
    $bp--ofMobile    : "(min-width: 751px)";

    @if $breakpoint == mobile {
        @media #{$bp--mobile}                { @content; }
    }
    @else if $breakpoint == tablet {
        @media #{$bp--tablet}                { @content; }
    }
    @else if $breakpoint == desktop {
        @media #{$bp--desktop}               { @content; }
    }
    @else if $breakpoint == toDesktop {
        @media #{$bp--toDesktop}             { @content; }
    }
    @else if $breakpoint == ofMobile {
        @media #{$bp--ofMobile}              { @content; }
    }
}