.empowered {
    font-family: $fontMedium;
    text-transform: uppercase;
}
.tag {
    font-family: $fontMediumCond;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    letter-spacing: 1px;
}
.date {
    font-family: $fontDemiCond;
    color: #e0dfe0;

    @include bp(desktop) {
        font-size: calc-rem(12px);
    }
    @include bp(tablet) {
        font-size: calc-rem(9px);
    }
    @include bp(mobile) {
        font-size: calc-rem(16px);
    }    
}
.teaserShare {
    font-family: $fontMedium;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@include bp(ofMobile) {
    .backgroundCropGradient {    
        @include sliderGradient;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: $white-color;
            width: 100%;

            @include bp(desktop) {
                height: calc-rem(34px);  
            }
            @include bp(tablet) {
                height: calc-rem(47px); 
            }
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background: $white-color;
            width: 100%;

            @include bp(desktop) {
                height: calc-rem(83px);
            }
            @include bp(tablet) {
                height: calc-rem(54px);  
            }
        }
    }
}
.header__sticky-active {
    margin-top: 279px;
}
.stickySocialSize {
    background-size: 17px !important;
    width: 17px;
    height: 17px;
}
.videoLittle {
    color: $white-color;
    @include btnGradient;
    font-family: $fontHeavy;
    position: absolute;
    left: 0;
    font-size: calc-rem(12px);
    padding: 4px 0;
    text-align: center;
    width: 113px;
    
    @include bp(desktop) {
        width: 113px;
        font-size: calc-rem(12px);
        top: -20px;
    }
    @include bp(tablet) {
        padding: 5px 0;
        width: 123px;
        font-size: calc-rem(12.9px);
        top: -22px;
    }  
    @include bp(tabletSmall) {
        top: -20px;
    }        
    @include bp(mobile) {
        font-size: calc-rem(16px);
        padding: 5px 0;
        width: 61%;

        .play {
            vertical-align: 2px;
            
            @include bp(mobileSmall) {
                vertical-align: 0px;
            }
        }
    }
    .play {
        background: url(../../assets/images/play_small.png) center center no-repeat;
        width: 5px;
        height: 7px;
        background-size: 7px;
        display: inline-block;
        margin-right: 5px;
    }
}