html {
    font-size: $basefont-size;
    font-weight: 100;
    
    @include bp(mobileSmall) {
        font-size: $basefont-size-small;
    }
}
body {
    text-transform: uppercase;
}
a {
    @include transition-all(all 0.3s ease-in-out);
}
p {
    text-transform: lowercase;
}
img {
    max-width: 100%;
    height: auto;
}
.clearfix {
    clear: both;
}
.wrap {
    margin: 0 auto;
    
    @include bp(desktop) {
        max-width: 1246px;
    }
    @include bp(tablet) {
        max-width: 964px;
    }
    @include bp(mobile) {
        text-align: center;
    }
}
.teaser-section {
    display: inline-block;
    
    @include bp(mobile) {
        text-align: left;
    }
}