//-------------------------
//        TYPOGRAPHY
//-------------------------

//------FONT-FACE
@font-face {
    font-family: 'Franklin Gothic Book';
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic Book'), url('../../assets/fonts/FRABK.woff') format('woff');
}

@font-face {
    font-family: 'Franklin Gothic Demi';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/bold.woff');
}

@font-face {
    font-family: 'Franklin Gothic Demi Cond';
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic Demi Cond'), url('../../assets/fonts/Franklin Gothic Demi Cond Regular.woff') format('woff');
}

@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: url('../../assets/fonts/franklin-gothic-heavy.otf');
}

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url('../../assets/fonts/franklin-gothic-medium.otf');
}

@font-face {
    font-family: 'Franklin Gothic Medium Cond';
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic Medium Cond'), url('../../assets/fonts/Franklin Gothic Medium Cond Regular.woff') format('woff');
}