html {
  font-size: 16px; }

body {
  text-transform: uppercase; }

p {
  text-transform: lowercase; }

img {
  max-width: 100%;
  height: auto; }

.clearfix {
  clear: both; }

.m-wrap {
  margin: 0 auto; }
  @media (min-width: 1025px) {
    .m-wrap {
      max-width: 1246px; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .m-wrap {
      max-width: 964px; } }

.l-wrap {
  margin: 0 auto; }
  @media (min-width: 1025px) {
    .l-wrap {
      max-width: 1366px; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .l-wrap {
      max-width: 1024px; } }

@font-face {
  font-family: 'Franklin Gothic Book';
  src: url("../../assets/fonts/franklin-gothic-book.ttf"); }

@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url("../../assets/fonts/franklin-gothic-demi.ttf"); }

@font-face {
  font-family: 'Franklin Gothic Demi Cond';
  src: url("../../assets/fonts/franklin-gothic-demi-cond.ttf"); }

@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: url("../../assets/fonts/franklin-gothic-heavy.ttf"); }

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url("../../assets/fonts/franklin-gothic-medium.ttf"); }

@font-face {
  font-family: 'Franklin Gothic Medium Cond';
  src: url("../../assets/fonts/franklin-gothic-medium-cond.ttf"); }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

u {
  text-decoration: underline; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section,
summary {
  display: block; }

.btn {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block; }

.btn--teaser-white {
  font-family: "Franklin Gothic Medium Cond";
  border: 1px solid #000;
  color: #000;
  background: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px; }
  @media (min-width: 1025px) {
    .btn--teaser-white {
      font-size: 0.9375rem;
      min-width: 133px;
      padding-top: 14px;
      padding-bottom: 14px; } }

.btn--teaser-graphical {
  font-family: "Franklin Gothic Medium Cond"; }
  @media (min-width: 1025px) {
    .btn--teaser-graphical {
      font-size: 1rem;
      min-width: 150px;
      padding-top: 17px;
      padding-bottom: 17px; } }

.btn--teaser-magazine {
  font-family: "Franklin Gothic Medium Cond";
  color: #376fa7;
  background: #fff; }
  @media (min-width: 1025px) {
    .btn--teaser-magazine {
      font-size: 0.9375rem;
      min-width: 138px;
      padding-top: 15px;
      padding-bottom: 15px; } }

.btn--slider {
  font-family: "Franklin Gothic Medium Cond";
  color: #000;
  background: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px; }
  @media (min-width: 1025px) {
    .btn--slider {
      font-size: 1rem;
      min-width: 138px;
      padding-top: 16px;
      padding-bottom: 16px; } }

.btn--video {
  font-family: "Franklin Gothic Demi"; }
  @media (min-width: 1025px) {
    .btn--video {
      font-size: 1rem;
      min-width: 141px;
      padding-top: 15px;
      padding-bottom: 15px; } }

.btn--article-quote {
  font-family: "Franklin Gothic Medium"; }
  @media (min-width: 1025px) {
    .btn--article-quote {
      font-size: 0.875rem;
      min-width: 80px;
      padding-top: 8px;
      padding-bottom: 8px; } }

.btn--load-more {
  font-family: "Franklin Gothic Heavy"; }
  @media (min-width: 1025px) {
    .btn--load-more {
      font-size: 1rem;
      min-width: 210px;
      padding-top: 18px;
      padding-bottom: 18px; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .btn--load-more {
      font-size: 0.875rem;
      min-width: 190px;
      padding-top: 17px;
      padding-bottom: 17px; } }

.btn--gradient {
  background: #1a2b48;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #1a2b48 0%, #2e5989 51%, #376fa7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #1a2b48 0%, #2e5989 51%, #376fa7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #1a2b48 0%, #2e5989 51%, #376fa7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2b48', endColorstr='#376fa7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #fff; }

@media (min-width: 751px) and (max-width: 1024px) {
  .btn--tablet {
    font-size: 0.875rem;
    min-width: 113px;
    padding-top: 13px;
    padding-bottom: 13px; } }

.header__sub {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 27px;
  left: 0; }

.sub__first:hover > .header__sub {
  display: block; }

@media (min-width: 751px) {
  .header__body-mobile {
    display: block !important; } }

@media (max-width: 750px) {
  .header__body-mobile {
    position: absolute;
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: #131313;
    position: absolute;
    text-align: center; } }

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: #000;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }
  @media (min-width: 751px) {
    .hamburger {
      display: none !important; } }

.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 0px 15px 0px 15px;
  color: #000;
  border: 0;
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }
  @media (min-width: 751px) {
    .cross {
      display: none !important; } }

@media (max-width: 750px) {
  .header__menu .header__menu-row {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none; }
  .header__menu .header__menu-list {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid; }
  .header__menu .header__menu-link {
    margin: 0px;
    color: #fff; } }

.header__sub-block {
  float: left;
  position: relative;
  overflow: hidden;
  width: 34.5%;
  max-width: 429px; }

.header__sub-fist {
  background: #fff url("../../assets/images/submenu_fist-gray.png") center center no-repeat;
  padding: 50px 0;
  padding-bottom: -moz-calc(49px);
  width: 31.14%; }

.header__sub-list:not(:last-child) {
  margin-bottom: 10px;
  margin-bottom: -moz-calc(9px); }

.header__sub-list:before, .header__sub-list:after {
  content: '';
  display: inline-block;
  width: 4px;
  background: #376fa7;
  height: 3px;
  vertical-align: 4px;
  margin: 0 5px; }

.header__sub-link {
  font-family: "Franklin Gothic Demi Cond";
  font-size: 1.25rem;
  color: #376fa7;
  letter-spacing: 4px; }

.header__sub-middle .header__sub-image {
  background: url("../../assets/images/submenu_image1.png") left center no-repeat; }

.header__sub-last .header__sub-image {
  background: url("../../assets/images/submenu_image2.png") left center no-repeat; }

.header__sub-image {
  height: 240px; }

.header__sub-description {
  position: absolute;
  background: #fff;
  text-align: left;
  padding: 25px 15px;
  right: 0;
  bottom: 0;
  min-height: 30%;
  max-width: 50%; }

.header__sub-tag {
  font-family: "Franklin Gothic Medium Cond";
  font-size: 0.875rem;
  border-bottom: 1px solid;
  color: #376fa7;
  padding-bottom: 2px;
  letter-spacing: 2px; }

.header__sub-heading {
  font-family: "Franklin Gothic Demi Cond";
  font-size: 1.5rem;
  color: #000;
  display: block;
  margin-top: 10px; }

.header__menu {
  text-align: center;
  position: relative; }
  @media (min-width: 1025px) {
    .header__menu {
      margin: 86px 0 17px; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .header__menu {
      margin: 72px 0 40px; } }

.header__menu-list {
  display: inline-block;
  padding-bottom: 4px; }
  .header__menu-list:hover .header__menu-link {
    color: #376fa7; }
  .header__menu-list:not(:last-child) {
    border-bottom: 4px solid #fff; }
  .header__menu-list:not(:last-child):hover {
    border-color: #376fa7; }
  .header__menu-list:not(:last-child) .header__menu-link {
    margin-right: -7px; }

.header__menu-link {
  font-family: "Franklin Gothic Medium Cond";
  color: #000; }
  @media (min-width: 1025px) {
    .header__menu-link {
      letter-spacing: 7px;
      font-size: 1.125rem; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .header__menu-link {
      letter-spacing: 7px;
      font-size: 1.09375rem; } }

.header__menu-line {
  display: inline-block;
  width: 4px;
  background: #000;
  height: 2px;
  vertical-align: 5px; }
  @media (min-width: 1025px) {
    .header__menu-line {
      margin: 0 62px 0 55px; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .header__menu-line {
      margin: 0 34px 0 37px; } }
  @media (max-width: 750px) {
    .header__menu-line {
      display: none; } }

@media (min-width: 751px) {
  .header__sticky {
    font-size: 24px;
    background: #efc47D;
    text-align: left;
    z-index: 99999;
    position: fixed;
    width: 100%; } }

.header__sticky .header__logo {
  float: left; }

.header__sticky .header__menu {
  float: left; }

.header__sticky .header__social {
  float: left;
  position: inherit; }

.header__sticky .header__brand {
  display: none; }

.teaser {
  width: 31.3%;
  float: left; }
  .teaser .teaser__tag {
    font-family: "Franklin Gothic Medium Cond";
    font-size: 0.875rem;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    letter-spacing: 2px; }

.teaser--magazine .teaser--magazine__image {
  position: relative; }
  .teaser--magazine .teaser--magazine__image img {
    display: block; }

.teaser--magazine .teaser--magazine__social {
  position: absolute;
  left: 11px;
  top: 15px;
  color: #7f7f7f; }

.teaser--magazine .teaser--magazine__body {
  background: #294e79;
  text-align: center;
  padding: 25px 70px; }

.teaser--magazine .teaser--magazine__fist {
  background: #fff;
  width: 40px;
  height: 40px;
  line-height: 2.5rem;
  float: left;
  margin-left: 13px; }
  .teaser--magazine .teaser--magazine__fist img {
    width: 30px;
    vertical-align: middle; }

.teaser--magazine .teaser--magazine__head {
  float: left;
  text-align: left;
  margin-left: 7px; }

.teaser--magazine .teaser--magazine__heading a {
  font-family: "Franklin Gothic Medium Cond";
  font-size: 1.375rem;
  color: #fff; }

.teaser--magazine .teaser--magazine__number {
  font-family: "Franklin Gothic Medium Cond";
  font-size: 1rem;
  color: #376fa7; }

.teaser--magazine .teaser--magazine__text {
  font-family: "Franklin Gothic Demi";
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #fff;
  margin: 14px 0 20px; }

.teaser--quote {
  background: url("../images/teaser-quote-bc-gray.png");
  background-position: 3% 0%;
  background-repeat: no-repeat; }
  .teaser--quote .teaser--quote__body {
    padding: 45px 0 45px 70px; }
  .teaser--quote .teaser--quote__heading {
    font-family: "Franklin Gothic Heavy";
    font-size: 3.125rem;
    color: #376fa7; }
  .teaser--quote .teaser--quote__fist {
    margin-left: 20px; }
  .teaser--quote .teaser--quote__person {
    display: table-cell; }
  .teaser--quote .teaser--quote__person-img {
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid #376fa7;
    display: inline-block;
    vertical-align: middle; }
    .teaser--quote .teaser--quote__person-img img {
      vertical-align: bottom;
      position: relative;
      z-index: -1; }
  .teaser--quote .teaser--quote__person-details {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }
  .teaser--quote .teaser--quote__person-name {
    font-family: "Franklin Gothic Heavy";
    font-size: 1.25rem; }
  .teaser--quote .teaser--quote__person-proffesion {
    font-family: "Franklin Gothic Medium";
    font-size: 0.875rem;
    color: #376fa7; }

.teaser--white {
  position: relative;
  min-height: 33.125rem;
  overflow: hidden; }
  .teaser--white .teaser--white__image {
    overflow: hidden; }
  .teaser--white .teaser--white__image img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block; }
  .teaser--white .teaser--white__body {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 42%;
    background: #fff;
    padding: 22px 33px; }
  .teaser--white .teaser--white__tag {
    color: #376fa7; }
  .teaser--white .teaser--white__date {
    font-family: "Franklin Gothic Demi Cond";
    font-size: 0.75rem;
    color: #e0dfe0;
    margin: 15px 0 18px; }
  .teaser--white .teaser--white__heading {
    font-family: "Franklin Gothic Demi Cond";
    font-size: 1.8125rem; }
  .teaser--white .teaser--white__text {
    font-family: "Franklin Gothic Medium";
    font-size: 1.25rem;
    margin: 5px 0 47px; }
  .teaser--white .teaser--white__share {
    font-family: "Franklin Gothic Medium";
    font-size: 1rem;
    color: #376fa7;
    text-transform: uppercase; }
    @media (min-width: 1025px) {
      .teaser--white .teaser--white__share {
        display: none; } }

@media (min-width: 1025px) {
  .header {
    padding-top: 40px; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .header {
    padding-top: 32px; } }

@media (min-width: 751px) {
  .header .header__body {
    position: relative; } }

@media (min-width: 1025px) {
  .header .header__logo {
    padding-top: 58px; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .header .header__logo {
    padding-top: 66px; } }

@media (min-width: 751px) {
  .header .header__logo {
    text-align: center; } }

@media (min-width: 1025px) {
  .header .header__social {
    padding-left: 50px;
    padding-top: 2px; } }

@media (min-width: 751px) {
  .header .header__social {
    position: absolute;
    top: 0;
    left: 0; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .header .header__social-em {
    margin-left: 4px;
    padding: 0px 18px;
    font-size: 1rem;
    background-size: 15% !important;
    background-position: 24px !important; }
    .header .header__social-em:after {
      font-size: 0.5625rem;
      vertical-align: 1px; } }

@media (min-width: 751px) {
  .header .header__social-em {
    background: #f7f6f7 url("../images/email_gray.png") no-repeat; }
    .header .header__social-em:after {
      content: 'EMAIL';
      font-family: "Franklin Gothic Book";
      color: #bbbbbb;
      margin-left: 24px; } }

@media (min-width: 1025px) {
  .header .header__social-em {
    background-position: 29px;
    padding: 2px 29px;
    margin-left: 21px; }
    .header .header__social-em:after {
      font-size: 0.6875rem;
      vertical-align: 3px; } }

@media (min-width: 751px) {
  .header .header__heading {
    position: relative;
    display: inline-block;
    padding: 0;
    font-size: 3.125rem;
    font-family: "Franklin Gothic Heavy"; } }

@media (min-width: 1025px) {
  .header .header__heading {
    margin: 0 0 0 23px;
    letter-spacing: 10px; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .header .header__heading {
    margin: 0 0 0 9px;
    letter-spacing: 9px; } }

@media (min-width: 751px) {
  .header .header__fist {
    margin: 0px 0px -25px 5px; } }

.header .header__heading-line {
  height: 2px;
  background: #376fa7;
  display: inline-block;
  position: absolute; }
  @media (min-width: 751px) and (max-width: 1024px) {
    .header .header__heading-line {
      width: 91px;
      bottom: -3px;
      right: 18px; } }

.header .header__social-link {
  color: #376fa7; }
  @media (min-width: 1025px) {
    .header .header__social-link {
      margin-right: 23px;
      font-size: 1.3125rem; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .header .header__social-link {
      margin-right: 38px;
      font-size: 1.4375rem; } }

@media (min-width: 751px) {
  .header .header__brand {
    position: absolute;
    top: 0;
    right: 0;
    display: table-cell;
    text-align: right; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .header .header__brand img {
    width: 50%; } }

@media (min-width: 751px) {
  .header .header__brand img {
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 5px; } }

.header .empowered {
  font-family: "Franklin Gothic Medium";
  text-transform: uppercase; }

@media (min-width: 1025px) {
  .header .header__empowered {
    font-size: 0.875rem; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .header .header__empowered {
    font-size: 0.70312rem; } }

@media (min-width: 1025px) {
  .footer {
    background: #192844;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #192844 0%, #192844 0%, #1c3050 20%, #2a4f7b 45%, #376fa7 65%, #376fa7 65%, #376fa7 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #192844 0%, #192844 0%, #1c3050 20%, #2a4f7b 45%, #376fa7 65%, #376fa7 65%, #376fa7 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #192844 0%, #192844 0%, #1c3050 20%, #2a4f7b 45%, #376fa7 65%, #376fa7 65%, #376fa7 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192844', endColorstr='#376fa7',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    padding: 103px 0; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .footer {
    background: #1e3454;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #1e3454 0%, #1e3455 36%, #376fa7 91%, #316092 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1e3454 0%, #1e3455 36%, #376fa7 91%, #316092 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1e3454 0%, #1e3455 36%, #376fa7 91%, #316092 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3454', endColorstr='#316092',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    padding: 74px 0; } }

@media (max-width: 750px) {
  .footer {
    background: #1e3454;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #1e3454 0%, #316092 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #1e3454 0%, #316092 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #1e3454 0%, #316092 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3454', endColorstr='#316092',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    padding: 60px 0; } }

.footer .footer__body {
  margin: 0 auto;
  color: #fff; }
  @media (min-width: 1025px) {
    .footer .footer__body {
      max-width: 567px;
      position: relative; } }
  @media (max-width: 1024px) {
    .footer .footer__body {
      text-align: center; } }

@media (min-width: 1025px) {
  .footer .footer__logo-fist {
    max-width: 358px; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .footer .footer__logo-fist {
    max-width: 295px; } }

@media (max-width: 750px) {
  .footer .footer__logo-fist {
    max-width: 220px; } }

.footer .footer__menu {
  overflow: hidden; }
  @media (min-width: 1025px) {
    .footer .footer__menu {
      margin-top: 22px; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .footer .footer__menu {
      margin-top: 30px; } }
  @media (max-width: 750px) {
    .footer .footer__menu {
      margin-top: 35px; } }

@media (min-width: 1025px) {
  .footer .footer__menu-list {
    float: left; }
    .footer .footer__menu-list:not(:last-child):after {
      content: '';
      display: inline-block;
      width: 5px;
      background: #fff;
      height: 1px;
      vertical-align: middle;
      margin: 0 20px 0 18px; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .footer .footer__menu-list {
    margin-bottom: 22px; } }

@media (max-width: 750px) {
  .footer .footer__menu-list {
    margin-bottom: 30px; } }

.footer .footer__menu-link {
  font-family: "Franklin Gothic Book";
  color: #fff;
  letter-spacing: 2px; }
  @media (min-width: 1025px) {
    .footer .footer__menu-link {
      display: inline-block;
      font-size: 0.625rem; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .footer .footer__menu-link {
      font-size: 0.65625rem; } }
  @media (max-width: 750px) {
    .footer .footer__menu-link {
      font-size: 0.96875rem; } }

@media (min-width: 1025px) {
  .footer .footer__social-text {
    position: absolute;
    top: 7px;
    right: 0; } }

@media (max-width: 1024px) {
  .footer .footer__social {
    margin-top: 26px; } }

@media (min-width: 1025px) {
  .footer .footer__social {
    margin-bottom: 8px; } }

.footer .footer__social-item {
  color: #fff; }
  @media (min-width: 1025px) {
    .footer .footer__social-item {
      font-size: 1.25rem; }
      .footer .footer__social-item:not(:last-child) {
        margin-right: 4px; } }
  @media (min-width: 751px) and (max-width: 1024px) {
    .footer .footer__social-item {
      font-size: 1.375rem; }
      .footer .footer__social-item:not(:last-child) {
        margin-right: 34px; } }
  @media (max-width: 750px) {
    .footer .footer__social-item {
      font-size: 1.5625rem; }
      .footer .footer__social-item:not(:last-child) {
        margin-right: 43px; } }

@media (min-width: 1025px) {
  .footer .footer__brand {
    text-align: right; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .footer .footer__brand {
    margin-top: 36px; } }

@media (max-width: 750px) {
  .footer .footer__brand {
    margin-top: 44px; } }

@media (max-width: 750px) {
  .footer .footer__empowered {
    font-size: 0.9375rem; } }

@media (min-width: 751px) {
  .footer .footer__empowered {
    font-size: 0.75rem; } }

@media (min-width: 1025px) {
  .footer .footer__brand-logo {
    max-width: 88px; } }

@media (min-width: 751px) and (max-width: 1024px) {
  .footer .footer__brand-logo {
    max-width: 90px; } }

@media (max-width: 750px) {
  .footer .footer__brand-logo {
    max-width: 110px; } }
