//----------
//Stylesheet only for IE9
//----------
.ie9 {
    body {
//        overflow-x: scroll;
//        overflow-y:hidden;
//        overflow-x: hidden;
//        overflow-y:scroll;
    }
    .header {
        position: relative;
        &.header__sticky {
            z-index: 9999999999999999;
            .header__body {
                max-width: 1366px;
            }
            .header__sub {
                position: fixed;
                 visibility:visible;
//                
//                    pointer-events: none;
//                
//                .header__sub-link {
//                    pointer-events: none;
////                    white-space: nowrap;
//                    overflow:hidden;
//                }
                &-block {
                    display: block !important;
                    pointer-events: none;
                    overflow: hidden;
                    z-index: 9999999999999;
                }
            }
        }
    }
    .articleSingle__contentRight {
        .articleSingle__content {
            @media (min-width: 751px) and (max-width: 1100px) {
                margin-left: 10%!important;
                margin-right: 2%;
            }
        }
    }
    .articleSingle__body {
        .articleSingle__content {
            @media (min-width: 751px) and (max-width: 1100px) {
                margin-left: -10%!important;
            }
            @media (min-width: 1101px){
                margin-left: -1%!important;
            }
        }
    }
    .mobShareSticky {
        width: 95%;
    }
    
    //----- HOVER EFFECTS
    .video--article {
        &:hover {
            .video--article__fist {
                @include transformScale(1.1);
            }
        }
    }
    .video {
        &:hover {
            .btn--video {
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
        }
    }
    .teaser--white {
        &:hover {
            .btn--teaser-white {
                    @include btnGradient;
//                background: $primary-color!important;
            }
        }
    }
    .teaser--magazine {
        &:hover {
            .teaser--magazine__fist img {
                @include transformScale(1.1);
            } 
        }
    }
}

//----------
//Stylesheet for IE10 and IE11
//----------
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
    
    body {
//        overflow-x: scroll;
//        overflow-y:hidden;
//        overflow-x: hidden;
//        overflow-y:scroll;
    } 
    .header {
        &.header__sticky {
            .header__sub {
                position: fixed;
            }
        }
    }
}

//----------
//Stylesheet for Edge
//----------
@supports (-ms-accelerator:true) {
    body {
//        overflow-x: scroll;
//        overflow-y:hidden;
//        overflow-x: hidden;
//        overflow-y:scroll;
    }
       
//    .header {
//        .header__menu-line {
//            @extend .headerMenuLineResponsive;
//            background: red;
//        }
//        &.header__sticky {
//            .header__menu-line {
//                @extend .headerStickyMenuLineResponsive;
//            }
//        }
//    }
}
//----------
//Responsive menus in all IE browsers
//----------
//.headerMenuLineResponsive {
//    @media (min-width: 1123px) and (max-width: 1171px) {
//        margin: 0 46px;
//    }
//    @media (min-width: 1007px) and (max-width: 1044px) {
//        margin: 0 36px;
//    }
//    @media (min-width: 885px) and (max-width: 930px) {
//        margin: 0 30px;
//    }
//    @media (min-width: 751px) and (max-width: 884px) {
//        margin: 0 15px;
//    }
//}
//.headerStickyMenuLineResponsive {
//    @media (min-width: 1246px) {                
//        margin: 0 30px;
//    }
//    @media (min-width: 751px) and (max-width: 883px) {
//        margin: 0 8px;
//    }
//    @media (min-width: 884px) and (max-width: 931px) {
//        margin: 0 10px;
//    }
//    @media (min-width: 1005px) and (max-width: 1049px) {
//        margin: 0 14px;
//    }
//    @media (min-width: 1122px) and (max-width: 1187px) {
//        margin: 0 16px;
//    }
//    @media (min-width: 1180px) and (max-width: 1245px) {
//        margin: 0 24px;
//    }
//}