// ------- Gradient -------
@mixin dFooterGradient {
    background: #192844; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #192844 0%, #192844 0%, #1c3050 20%, #2a4f7b 45%, #376fa7 65%, #376fa7 65%, #376fa7 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #192844 0%,#192844 0%,#1c3050 20%,#2a4f7b 45%,#376fa7 65%,#376fa7 65%,#376fa7 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #192844 0%,#192844 0%,#1c3050 20%,#2a4f7b 45%,#376fa7 65%,#376fa7 65%,#376fa7 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192844', endColorstr='#376fa7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin tFooterGradient {
    background: #1e3454; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #1e3454 0%, #1e3455 36%, #376fa7 91%, #316092 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #1e3454 0%,#1e3455 36%,#376fa7 91%,#316092 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #1e3454 0%,#1e3455 36%,#376fa7 91%,#316092 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3454', endColorstr='#316092',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin mFooterGradient {
    background: #1e3454; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #1e3454 0%, #316092 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #1e3454 0%,#316092 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #1e3454 0%,#316092 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3454', endColorstr='#316092',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin btnGradient {
    background: #1a2b48; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #1a2b48 0%, #2e5989 51%, #376fa7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #1a2b48 0%,#2e5989 51%,#376fa7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #1a2b48 0%,#2e5989 51%,#376fa7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2b48', endColorstr='#376fa7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin stickyGradient {
    background: #192945; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #192945 0%, #234167 26%, #2c5482 47%, #34699e 66%, #376fa7 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #192945 0%,#234167 26%,#2c5482 47%,#34699e 66%,#376fa7 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #192945 0%,#234167 26%,#2c5482 47%,#34699e 66%,#376fa7 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192945', endColorstr='#376fa7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@mixin videoMonthlyGradient {
    background: #1b2c49; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #1b2c49 0%, #316194 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #1b2c49 0%,#316194 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #1b2c49 0%,#316194 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2c49', endColorstr='#316194',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin videoArticleGradient {
    background: #142a45; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #142a45 0%, #122741 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #142a45 0%,#122741 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #142a45 0%,#122741 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#142a45', endColorstr='#122741',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin sliderGradient {
    background: #1b2c49; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #1b2c49 0%, #376fa7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #1b2c49 0%,#376fa7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #1b2c49 0%,#376fa7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2c49', endColorstr='#376fa7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin articlePortraitGradient {
    background: -moz-linear-gradient(top,  rgba(52,105,159,0.99) 0%, rgba(52,104,158,0.99) 1%, rgba(19,32,53,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(52,105,159,0.99) 0%,rgba(52,104,158,0.99) 1%,rgba(19,32,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(52,105,159,0.99) 0%,rgba(52,104,158,0.99) 1%,rgba(19,32,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc34699f', endColorstr='#132035',GradientType=0 ); /* IE6-9 */
}

// Font Size and Line Height
 @mixin fontSizeLineHeight ($fontSize, $lineHeight) {
     font-size: $fontSize;
     line-height: $lineHeight;
 }

// Width and Height
// @mixin fontSizeLineHeight ($width, $Height) {
//     width: $width;
//     height: $Height;
// }

// ------- Shadows -------
@mixin shadow {
    -webkit-box-shadow: 0px 7px 32px 2px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 7px 32px 2px rgba(0,0,0,0.57);
    box-shadow: 0px 7px 32px 2px rgba(0,0,0,0.57);
}

// Border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

// Transform rotate
@mixin transform-rotate($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}

// Transform scale
@mixin transformScale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

// Transition
@mixin transition-all($all) {
    -webkit-transition: ($all);
    -moz-transition: ($all);
    -ms-transition: ($all);
    -o-transition: ($all);
    transition: ($all);
}

// Responsive buttons
 @mixin btn-responsive ($font-size, $min-width, $padding-top, $padding-bottom) {
     font-size: $font-size;
     min-width: $min-width;
     padding-top: $padding-top;
     padding-bottom: $padding-bottom;
 }

// Social icons size with same size
 @mixin iconSize ($size) {
     background-size: $size !important;
     width: $size;
     height: $size;
 }

// Social icons size with different size
 @mixin iconSizeDiff ($background-size, $width, $height) {
     background-size: $background-size !important;
     width: $width;
     height: $height;
 }

// Footer social icon size
 @mixin footerIcons ($desc, $tab, $mob) {
     @include bp(desktop) { 
         @include iconSize (    //----- iconSize - Social icons size background-size, width and height
             calc-rem($desc));
     }
     @include bp(tablet) { 
         @include iconSize (
             calc-rem($tab));
     }
     @include bp(mobile) { 
         @include iconSize (
             calc-rem($mob));
     }
 }

// Font Size for different devices
 @mixin fontSize ($fontSizeDesktop, $fontSizeTablet, $fontSizeDMobile) {
     @include bp(desktop) { 
         font-size: calc-rem($fontSizeDesktop);
     }
     @include bp(tablet) { 
         font-size: calc-rem($fontSizeTablet);
     }
     @include bp(mobile) { 
         font-size: calc-rem($fontSizeDMobile);
     }
 }

// Padding for different devices
 @mixin dtmPadding ($paddingDesktop, $paddingTablet, $paddingDMobile) {
     @include bp(desktop) { 
         padding: $paddingDesktop;
     }
     @include bp(tablet) { 
         padding: $paddingTablet;
     }
     @include bp(mobile) { 
         padding: $paddingDMobile;
     }
 }

// Max-width for different devices
 @mixin dtmMaxWidth ($max-widthDesktop, $max-widthTablet, $max-widthDMobile) {
     @include bp(desktop) { 
         max-width: $max-widthDesktop;
     }
     @include bp(tablet) { 
         max-width: $max-widthTablet;
     }
     @include bp(mobile) { 
         max-width: $max-widthDMobile;
     }
 }

// Fist pop effect
//@mixin fistPop {
//    @-webkit-keyframes hvr-pop {
//      50% {
//          @include transformScale(1.2);
//      }
//    }
//    @keyframes hvr-pop {
//      50% {
//          @include transformScale(1.2);
//      }
//    }
//    -webkit-animation-name: hvr-pop;
//    animation-name: hvr-pop;
//    -webkit-animation-duration: 0.1s;
//    -moz-animation-duration: 0.1s;
//    -ms-animation-duration: 0.1s;
//    -o-animation-duration: 0.1s;
//    animation-duration: 0.1s;
//}

// Fist pop effect
@mixin pop($popScale) {
    @-webkit-keyframes hvr-pop {
      50% {
        -webkit-transform: scale($popScale);
        -moz-transform: scale($popScale);
        -ms-transform: scale($popScale);
        -o-transform: scale($popScale);
        transform: scale($popScale);
//          @include transformScale(1.2);
      }
    }
    @keyframes hvr-pop {
      50% {
        -webkit-transform: scale($popScale);
        -moz-transform: scale($popScale);
        -ms-transform: scale($popScale);
        -o-transform: scale($popScale);
        transform: scale($popScale);
//          @include transformScale(1.2);
      }
    }
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.1s;
    -moz-animation-duration: 0.1s;
    -ms-animation-duration: 0.1s;
    -o-animation-duration: 0.1s;
    animation-duration: 0.1s;
}

//----- CSS FOR HOVER / Sweep
@mixin Sweep {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
}