// Fonts
$fontBook: 'Franklin Gothic Book' !default;
$fontDemi: 'Franklin Gothic Demi' !default;
$fontDemiCond: 'Franklin Gothic Demi Cond' !default;
$fontHeavy: 'Franklin Gothic Heavy' !default;
$fontMedium: 'Franklin Gothic Medium' !default;
$fontMediumCond: 'Franklin Gothic Medium Cond' !default;

// Basic Font Size
$basefont-size: 16px;

// Basic Font Size for extra small devices
$basefont-size-small: 12px;

// Primar color
$primary-color: #376fa7;
$white-color: #fff;
$black-color: #000;